:root{
--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 4rem;
    background-color: var(--Light-Grayish-Blue);
   
    
}

.opacity-text{
    
    color: var(--Grayish-Blue);
    font-size: 13px;
    
    line-height: 1.2rem;
    
}

.dark-text{
    font-weight: bold;
    color: var(--Very-Dark-Grayish-Blue);
    
}

.image{
    background-image: url(./images/drawers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 175px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.container{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    
    background-color: white;
    width: 100%;
    max-width: 700px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    padding-bottom: 1rem;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.profile-img{
    background-image: url(./images/avatar-michelle.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}



.logo-inner{
    padding: 0.5rem;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    

}



.pop-up-overlay{
    background-color: var(--Very-Dark-Grayish-Blue);
    height: 75px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    
   
}

.title{
    color: var(--Grayish-Blue);
    letter-spacing: 0.3rem;
    font-weight: bold;
}

.icons{
    display: flex;
    gap: 1rem;
}



.display-nothing{
    display: none;
}








@media(min-width:678px){
    .container{
        display: flex;
        flex-direction: row;
    }

    .information{
        width: 65%;
        padding: 3rem;
        justify-content: flex-start;
        padding-bottom: 1rem;
        
    }

    .image{
        width: 35%;
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1rem;
    }
}